<div id="ej2Toast" #toast></div>
<div class="container-fluid">
	<div class="jumbotron">
		<h1 class="display-4">Angular Tutorial</h1>
		<p class="lead">This is the demo project to learn Angular </p>
		<hr class="my-4">
		<p>
			I have started studying the most prominent and interesting frontend framework in now days i.e. Angular.
			My approach to learn thing is always to have practical experience of whatever we learn, 
			In accordance with this, I always create new git repository and demo project where I put all the effort and learning concepts in technology.
			My intention is to any beginner who is keen to learn this technology, can have compiled stuff in one repository and be able to understand fundamental and most practical key points.
			I know it will not be a complete material to learn about Angular but trust me, this repository will help you to learn things that are essential and functional in day to day work when you start actual working on this technology.
		</p>
		<h3 style="color:red">Most of the things practiced and result printed in console, please check console section on each page </h3>
		<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	</div>
</div>
