<div class="container">
  <input type="text" class="form-control" placeholder="testevent" value="This is test" (input)="testEvent($event)" />
    <div class="jumbotron">
        <h1 class="display-4">About - Concept/Module Used In Angular App</h1>
        <p class="lead">This app is built from scratch to learn angular</p>
        <hr class="my-4">
        <p>Used concept are -</p>
        <ul class="list-group">
          <li class="list-group-item">Angular Installation</li>
          <li class="list-group-item">Folder Structure Understanding</li>
          <li class="list-group-item">Generate Component</li>
          <li class="list-group-item">Use Of Component & HTMl File along with Css</li>
          <li class="list-group-item">Form Builder</li>
          <li class="list-group-item">Template Driven Form</li>
          <li class="list-group-item">Reactive Form Validation</li>
          <li class="list-group-item">Event Emitter</li>
          <li class="list-group-item">Input Output Decorator</li>
          <li class="list-group-item">ViewChild Decorator - passing data back to child</li>
          <li class="list-group-item">Local Storage</li>
          <li class="list-group-item">Toaster</li>
          <li class="list-group-item">Bootstrap & JQuery with Angular</li>
          <li class="list-group-item">Use of ANgular Hooks - ngOnInit, ngDestroy, afterViewInit </li>
          <li class="list-group-item">Global/Common component - Toast which can use in any component and service </li>
          <li class="list-group-item">Material UI </li>
          <li class="list-group-item">Custom Common Services </li>
          <li class="list-group-item">Http Services </li>
          <li class="list-group-item">Interceptor Service </li>
          <li class="list-group-item">Routing with Auth Guard </li>
          <li class="list-group-item">Routing with Parent and child route </li>
          <li class="list-group-item">Lazy Loading Of Modules In Routing</li>
          <li class="list-group-item">Dynamically change active class for route menu</li>
          <li class="list-group-item">Hide/Show Route based on Authentication </li>
          <li class="list-group-item">Custom Module - Component export, provide, declare</li>          
          <li class="list-group-item">Injectable & Service Injection </li>
          <li class="list-group-item">Data Table Using Material UI</li>
          <li class="list-group-item">Data Table Using Bootstrap/JQuery </li>
          <li class="list-group-item">Pagination, Scroll Loading</li>
          <li class="list-group-item">Shared Service - Data Passing Between Non-Relational Component</li>
          <li class="list-group-item">Data Passing Using Input Output Decorators In Relational Component</li>
          <li class="list-group-item">Input Decorators with getter & Setter Method</li>
          <li class="list-group-item">RX JS - Observables, Operators etc</li>
          <li class="list-group-item">Custom Directives - Attribute & Structural Directives</li>
        </ul>
        <a class="btn btn-primary btn-lg" routerLink="" role="button">Back</a>
      </div>
</div>