
<div class="my-3">
    <h4 [ngClass]="{'strike':todo.completed}">{{todo.sno+". "+todo.title}}</h4>
    <p>{{todo.desc}}</p>
    <div [style.stylePropertyName]="todo.title">
        <p [attr.data-date]="todo.createdAt" [class.className]="todo.title">
            <span>{{todo.createdAt}}</span>
        </p>
    </div> 
    <div class="form-check">
        <input class="form-check-input" type="checkbox" [attr.data-my-attr]="todo.completed" [value]="todo.completed" id="flexCheckDefault" [checked]="todo.completed" (click)="changeTodoStatus(todo.completed, todo)"/>
        <label class="form-check-label" for="flexCheckDefault">
            <i>{{ todo.completed ? "Mark as incomplete" : "Mark as complete"}}</i>
        </label>
    </div>
    
    <button type="button" class="btn btn-sm btn-danger" (click)="OnClick(todo)">Delete</button>
</div>


